.footer {
  background-color: #faf4e6;
  margin-top: 32px;
  padding-inline: 20px;
}

.footer p {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  border-top: 1px solid rgba(33, 33, 33, 0.2);
  text-align: center;
  font: 400 16px/1 "Poppins", Arial, sans-serif;
  color: rgba(33, 33, 33, 0.7);
  box-sizing: border-box;
}
