.modal {
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0s linear 0.5s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background-image: url(../images/close-btn-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #212121;
  opacity: 0.4;
  transition: opacity 0.2s ease;
  background-position: center;
}

.modal__close-btn_type_preview {
  background-image: url(../images/preview_close-btn-white.svg);
  background-color: transparent;
  top: 0;
  right: -52.5px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.modal__close-btn:hover {
  background-image: url(../images/preview_close-hover.svg);
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/preview_close-hover.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  width: 100%;
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: none;
  color: #e44;
  margin-top: 8px;
  font-size: 12px;
}

.modal__error.modal__error_visible {
  display: block;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  padding: 18px 32px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__submit-btn_disabled {
  background-color: rgba(33, 33, 33, 0.3);
  color: #ffffff80;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 4px;
  font-family: "Poppins", Arial, sans-serif;
  position: absolute;
  padding: 4px 8px;
  line-height: 1.2;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
}

@media screen and (max-width: 627px) {
  .modal__content {
    max-width: 300px;
    padding: 12px;
    border-radius: 8px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 24px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    max-width: none;
    width: 100%;
    height: 48px;
    padding: 16px 12px;
    box-sizing: border-box;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
    height: 52px;
    padding: 18px 32px;
    box-sizing: border-box;
    margin-top: 24px;
  }
}
