.footer {
  background-color: #faf4e6;
  margin-top: 32px;
}

.footer__inner {
  max-width: 1280px;
  margin: 0 auto;
  border-top: 1px solid rgba(33, 33, 33, 0.2);
  padding-inline: 24px;
  box-sizing: border-box;
}

.footer__copy {
  margin: 0;
  padding: 60px 0;
  text-align: center;
  font: 400 16px/1 "Poppins", Arial, sans-serif;
  color: rgba(33, 33, 33, 0.7);
}

@media screen and (max-width: 1320px) {
  .footer__inner {
    max-width: 855px;
  }
}

@media screen and (max-width: 627px) {
  .footer__inner {
    padding-inline: 16px;
    max-width: 288px;
  }
}
